@model Grupo_Beira_Mar_Web_Application.ViewModels.EventosFKSViewModel

@{
    String[] lstCSSs = new String[] { "", "alarm", "panic", "connected", "energy", "battery", "disarmed" };
    String[] lstIcon = new String[] { "", "bell", "exclamation-triangle", "user", "bolt", "battery-half", "shield-alt" };
}


<div class="fks-card @(lstCSSs[Model.IdEventoEstado])">
    <div class="fks-card-content @(lstCSSs[Model.IdEventoEstado])">
        <div class="fks-card-icon">
            <i class="fas fa-@(lstIcon[Model.IdEventoEstado])"></i>
        </div>
        <div>
            <div class="fks-card-value">@(Model.Descricao)</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    Eventos da Receptora FKS — @Model.Descricao
                </h4>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover" >
                        <thead>
                            <tr>
                                <th>Data/Hora</th>
                                <th></th>
                                <th>Descrição</th>
                                <th>Código</th>
                                <th>Nome do Cliente</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Eventos)
                            {
                                <tr>
                                    <td>@item.DataHora?.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                    <td style="width: 25px; padding: 0px !important;">
                                        <div class="fks-card-icon" style="
                                            background-color: @(item.Cor);
                                            min-width: 25px;
                                            width: 28px;
                                            height: 28px;
                                            font-size: 12px;
                                        ">
                                            <i class="fas fa-@(lstIcon[Model.IdEventoEstado])"></i>
                                        </div>
                                    </td>
                                    <td>@item.Descricao</td>
                                    <td>@item.Codigo</td>
                                    <td>@item.Nome</td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>