

@model List<Grupo_Beira_Mar_Web_Application.DataModels.Cliente>

@{
    ViewData["Title"] = "Cadastro de Clientes";
}

<style>

    /*.table-striped > tbody > tr.inativo > * {*/
        /*--bs-table-color-type: var(--bs-table-striped-color);*/
        /*--bs-table-bg-type: #f52b2bd1;
    }

    .table-striped > tbody > tr.inativo :hover > * {*/
        /*--bs-table-color-type: var(--bs-table-striped-color);*/
        /*--bs-table-bg-type: #f52b2bd1;
    }*/

    /*.table-striped > tbody > tr.inativo:nth-of-type(odd) > * {*/
        /*--bs-table-color-type: var(--bs-table-striped-color);*/
        /*--bs-table-bg-type: #f52b2bd1;
    }*/

</style>

<div class="page-header">
    <h3 class="fw-bold mb-3">Cadastro de Clientes</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a href="#">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a href="#">Cadastros</a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a href="#">Clientes</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">

            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Consulta</h4>

                    <a asp-action="Create" class="btn btn-primary btn-round ms-auto">
                        <i class="fas fa-plus-circle"></i> Novo Cliente
                    </a>

                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">

                    <div class="demo-spinner" id="divLoading">
                        <button class="btn btn-primary" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            <span role="status">Loading...</span>
                        </button>
                    </div>

                    <table id="multi-filter-select" class="display table table-striped table-hover" style="display:none">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Codigo</th>
                                <th>Nome</th>
                                <th>Logadouro</th>
                                <th>Complemento</th>
                                <th>Cidade</th>
                                <th>Bairro</th>
                                <th>Estado</th>
                                <th>Cep</th>
                                <th>NomeContato</th>
                                <th>TelefoneContato</th>
                                <th>EmailContato</th>
                                <th>ProximidadeContato</th>
                                <th>ObsContato</th>
                                <th>Ativo</th>
                                <th>Inadimplente</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Codigo</th>
                                <th>Nome</th>
                                <th>Logadouro</th>
                                <th>Complemento</th>
                                <th>Cidade</th>
                                <th>Bairro</th>
                                <th>Estado</th>
                                <th>Cep</th>
                                <th>NomeContato</th>
                                <th>TelefoneContato</th>
                                <th>EmailContato</th>
                                <th>ProximidadeContato</th>
                                <th>ObsContato</th>
                                <th>Ativo</th>
                                <th>Inadimplente</th>
                            </tr>
                        </tfoot>

                        <tbody>
                            @foreach (var cliente in Model)
                            {
                                <tr>
                                    <td style="text-wrap-mode: nowrap;">
                                        @*<a asp-action="Create" class="btn btn-primary btn-round ms-auto"></a>*@

                                        <a asp-action="Create" asp-route-id="@cliente.IdCliente" class="btn btn-primary btn-round">
                                            <i class="fas fa-edit"></i>
                                        </a>

                                        @if (!cliente.Ativo.Value)
                                        {
                                            <i class="fas fa-ban" style="color: #f52b2bd1;font-size: xx-large;top: 7px;position: relative;"></i>
                                        }



                                    </td>
                                    <td nowrap>@(cliente.Codigo)@(String.IsNullOrEmpty(cliente.Particao) ? "" : $" - {cliente.Particao}")</td>
                                    <td>@(cliente.Nome)</td>
                                    <td>@(cliente.Logadouro)</td>
                                    <td>@(cliente.Complemento)</td>
                                    <td>@(cliente.Cidade)</td>
                                    <td>@(cliente.Bairro)</td>
                                    <td>@(cliente.Estado)</td>
                                    <td>@(cliente.Cep)</td>
                                    <td>@(cliente.NomeContato)</td>
                                    <td>@(cliente.TelefoneContato)</td>
                                    <td>@(cliente.EmailContato)</td>
                                    <td>@(cliente.ProximidadeContato)</td>
                                    <td>@(cliente.ObsContato)</td>
                                    <td>@(cliente.Ativo)</td>
                                    <td>@(cliente.Inadimplente)</td>
                                </tr>
                            }

                        </tbody>


                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts{

    <script>
        @{bool hasMsg = TempData["SuccessMessage"] != null; }

        if (@(hasMsg? "true" : "false")) {
            $.notify({
                icon: 'icon-bell',
                title: 'Mensagem',
                message: '@(TempData["SuccessMessage"])',
            }, {
                type: 'secondary',
                placement: {
                    from: "top",
                    align: "right"
                },
                time: 1000,
            });
        }


        $(document).ready(function () {


            $('#multi-filter-select').DataTable({
                "pageLength": 5,
                initComplete: function () {

                    $('#divLoading').hide();
                    $('#multi-filter-select').show();

                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select class="form-select"><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });


        });
    </script>

}