@model Grupo_Beira_Mar_Web_Application.ViewModels.EventosPendentesViewModel

@{
    
}



<audio id="idAlarmSound" src="~/assets/audio/alarme_01.mp3"></audio>

<div class="page-header">
    <h3 class="fw-bold mb-3">Monitoramento de Eventos</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a href="#">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a href="#">Monitoramento</a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a href="#">Eventos</a>
        </li>
    </ul>
</div>

<!-- CARDS DE RESUMO -->
<div class="row mb-4">
    <div class="col-12">
        <div class="event-summary-wrapper">
            
            <h4 style="margin-left: 10px;">Indicadores da Receptora FKS</h4>

            <div class="row event-summary-row g-3">
                @{
                    String[] lstCSSs = new String[] { "alarm", "panic", "connected", "energy", "battery", "disarmed" };
                    String[] lstIcon = new String[] { "bell", "exclamation-triangle", "user", "bolt", "battery-half", "shield-alt" };
                }

                @for (int i = 0; i < 6; i++)
                {
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <a href="/eventos-fks/@(Model.ResumoFKS[i * 2].id_evento_estado)/@(Model.ResumoFKS[i * 2].decricao)" target="_blank">
                        <div class="fks-card @(lstCSSs[i])">
                            <div class="fks-card-header">
                                

                                <div class="fks-card-main">
                                    <div class="fks-card-title">@(Model.ResumoFKS[i * 2].decricao)</div>
                                </div>
                            </div>

                            <div class="fks-card-content">
                                <div class="fks-card-icon">
                                    <i class="fas fa-@(lstIcon[i])"></i>
                                </div>
                                <div>
                                    <div class="fks-card-value">@(Model.ResumoFKS[i * 2].Qtd)</div>
                                </div>
                            </div>

                            <div class="fks-card-content">
                                
                                <div class="fks-card-footer">
                                    @(Model.ResumoFKS[i * 2 + 1].decricao): @(Model.ResumoFKS[i * 2 + 1].Qtd)
                                </div>
                            </div>

                        </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Eventos Registrados para Atendimento</h4>
                    
                    
                    <span id="eventosLoadingSpinner" class="spinner-border spinner-border-sm text-success d-none" style="margin-left: 10px" role="status" aria-hidden="true"></span>
                    
                    @* Opcional: Botão para adicionar novo evento, se houver essa funcionalidade *@
                    <a href="~/assets/img/help/sound_config.jpg" target="_blank" class="btn btn-primary btn-round ms-auto">
                        <i class="fas fa-volume-up"></i> Configurar Som
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="demo-spinner" id="divLoading">
                        <button class="btn btn-primary" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            <span role="status">Carregando...</span>
                        </button>
                    </div>

                    <table id="multi-filter-select" class="display table table-striped table-hover" style="display:none">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Receptora</th>
                                <th>Conta</th>
                                <th>Nome Cliente</th>
                                <th>Data Evento</th>
                                <th>Tipo Evento</th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Receptora</th>
                                <th>Conta</th>
                                <th>Nome Cliente</th>
                                <th>Data Evento</th>
                                <th>Tipo Evento</th>
                                
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var evento in Model.EventosPendentes)
                            {
                                <tr>
                                    <td>
                                        <a asp-action="Create" asp-route-id="@evento.IdEvento" asp-route-eventopendente="true" class="btn btn-primary btn-round">
                                            <i class="fas fa-edit"></i>
                                            @(evento.QtdEvento)
                                        </a>
                                    </td>
                                    <td>@(evento.ReceptoraNome)</td>
                                    <td>@(evento.Conta)</td>
                                    <td>@(evento.NomeCliente ?? "N/A")</td> @* Exibe o NomeCliente do ViewModel *@
                                    <td>@(evento.DataEvento?.ToString("dd/MM/yyyy HH:mm:ss"))</td>
                                    <td>@(evento.DisparaSom ? "🚨" : "") @(evento.TipoEvento)</td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var bAlarm = false;

        @{ bool hasSuccessMsg = TempData["SuccessMessage"] != null; }
        @{ bool hasErrorMsg = TempData["ErrorMessage"] != null; }

        if (@(hasSuccessMsg ? "true" : "false")) {
            $.notify({
                icon: 'icon-bell',
                title: 'Sucesso',
                message: '@(TempData["SuccessMessage"])',
            }, {
                type: 'secondary',
                placement: {
                    from: "top",
                    align: "right"
                },
                time: 1000,
            });
        }
        if (@(hasErrorMsg ? "true" : "false")) {
            $.notify({
                icon: 'icon-bell',
                title: 'Erro',
                message: '@(TempData["ErrorMessage"])',
            }, {
                type: 'danger',
                placement: {
                    from: "top",
                    align: "right"
                },
                time: 1000,
            });
        }

        $(document).ready(function () {
            $('#multi-filter-select').DataTable({
                "pageLength": 5,
                initComplete: function () {
                    $('#divLoading').hide();
                    $('#multi-filter-select').show();

                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select class="form-select"><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });
                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });

            // =========================================================
            // Lógica para verificar novos eventos pendentes via AJAX
            // =========================================================
            

            // Pega todos os IdEvento da lista da Model e os converte para um array JavaScript
            var lstIds = [@(string.Join(", ", Model.EventosPendentes.Select(e => e.IdEvento.ToString())))] ;

            var disparaSom = new URLSearchParams(window.location.search).has("disparaSom")
                    ? new URLSearchParams(window.location.search).get("disparaSom") === "true"
                    : @Html.Raw(Model.EventosPendentes.Count(o => o.DisparaSom) > 0 ? "true" : "false");
            
            if(disparaSom){
                bAlarm = true;
                soundPlay();
            }

            // Função para fazer a requisição AJAX
            function checkEventosPendentes() {

                // Mostra o spinner ao lado do título
                $('#eventosLoadingSpinner').removeClass('d-none');

                $.ajax({
                    url: '@Url.Action("CheckEventosPendentes", "Evento")',
                    type: 'POST',
                    data: { eventosIds: lstIds }, // Converte o objeto JavaScript para JSON
                    success: function (data) {
                        setTimeout(() => {
                            $('#eventosLoadingSpinner').addClass('d-none');
                        }, 1000)

                        if (data.qtdNovosEventoPendente != 0) {
                            // Se houver novos eventos pendentes, recarrega a página
                            recarregarPagina(data.qtdNovosEventoPendenteDisparaSom > 0);
                        }
                        //todo: remover linha abaixo para produção
                        setTimeout(checkEventosPendentes, 3000);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Erro na requisição AJAX:', textStatus, errorThrown, jqXHR.responseText);
                    }
                });
            }

            // Chama a função checkEventosPendentes a cada 30 segundos (30000 milissegundos)
            //todo: setInterval(checkEventosPendentes, 3000);

            // Opcional: Chamar uma vez ao carregar a página também
            checkEventosPendentes();
        });

        function recarregarPagina(disparaSom) {
            var url = new URL(window.location.href);

            // Atualiza ou adiciona o parâmetro
            url.searchParams.set("disparaSom", disparaSom ? "true" : "false");

            // Faz o reload com a nova URL
            window.location.href = url.toString();
        }
        
        function soundPlay(){
            if(bAlarm){
                idAlarmSound.play();

                Swal.fire({
                    title: '🚨 ATENÇÃO! 🚨',
                    text: 'Existem Eventos Pendentes',
                    
                    confirmButtonText: 'Fechar',
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showClass: {
                        popup: 'animate__animated animate__zoomIn animate__faster'
                    }
                }).then((result) => {
                    if (result) {
                        pausaSom();
                    }
                });
                setTimeout(soundPlay, 3000);
            }
            
        }
        
        function pausaSom(){
            idAlarmSound.pause();
            bAlarm = false;
        }
    </script>
}
